@import url("reset.css");

:root {
    --bg-color: #1e1e1e;
    --sq-light: #e3c16f;
    --sq-dark: #b88b4a;
}


body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: min(90vh, 90vw);
    height: auto;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.sq-light { background-color: var(--sq-light); }
.sq-dark { background-color: var(--sq-dark); }